@font-face {
    font-family: 'Pirata_One';
    src: url(Assets/PirataOne-Regular.ttf) format('truetype');
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Pirata_One';
    position: relative;
    overflow: hidden;
}

body {
  display: grid;
  grid-template-areas: "main";
  height: fit-content;
  height: 100%;
  margin: 0;
  padding: 0;
}

body > * {
  grid-area: main;
}

#StartscreenBackground {
    width: 100vw;
    height: 100vh;
    display: block;
    object-fit: cover;
    z-index: 1;
    top: 0;
    left: 0;
}

#Map {
    width: 95%;
    height: auto;
    display: block;
    object-fit: cover;
    margin-left: 2.5%;
    position: absolute;
    z-index: 10; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navigation-positioner {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 14% 1fr 14%;
  grid-template-columns: 14% 1fr 13%;
  grid-template-areas: 
    "a a a"
    "b map c"
    "d d d";
}

@media (max-width: 1440px) {
    #navigation-positioner {
      grid-template-rows: 21% 1fr 20%;
      grid-template-columns: 15% 1fr 12%;
    }
}

.navigation-container {
  grid-area: map;
  z-index: 15;
  display: flex;
  justify-content: space-around;
}

.navigation-container > div {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: transparent;
    z-index: 15;
    border: none;
}

.navigation-container .navigation img {
  width: 60px;
  height: auto;
}

@media (max-width: 1440px) {
    .navigation-container .navigation img {
      width: 50px;
      height: auto;
    }
}

.navigation-container #bossfight img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.navigation-container .navigation img:hover{
  width: 150%;
  height: auto;
}

.navigation-container #bossfight img:hover {
  width: 300%;
  height: auto;

}

.navigation-container > div:nth-child(2n+1) {
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
}

.navigation :hover {
    cursor: pointer;
}

.next {
    height: 80px;
    width: 80px;
    background-color: green;
    border-radius: 50%;
}

@media (max-width: 1440px) {
    .next {
      height: 70px;
      width: 70px;
    }
}

.current-location {
  height: 80px;
  width: 80px;
  background-color: darkorchid;
  border-radius: 50%;
}

@media (max-width: 1440px) {
  .current-location {
    height: 70px;
    width: 70px;
  }
}

#playerGold {
  position: absolute;
  top: 20px;
  left: 90%;
  color: gold;
  z-index: 1100;
  font-size: 36px;
}

.tooltip {
  transition: opacity 0.3s ease;
  bottom: 110%; /* Position it above the weapon */
  left: 50%; /* Align it horizontally centered */
  transform: translateX(-50%); /* Center it relative to the weapon */

}

#reset-save-btn {
  position: absolute;
  top: 50px;
  z-index: 9999;
}
