@font-face {
    font-family: 'Pirata_One';
    src: url(Assets/PirataOne-Regular.ttf) format('truetype');
}
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Pirata_One';
    position: relative;
    overflow: hidden;

}
#StartscreenBackground {
    width: 95%;
    height: auto;
    display: block;
    object-fit: cover;
    margin-left: 2.5%;
    position: absolute;
    z-index: 1;
}

.sprite-player {
    width: 200px;
    height: 200px;
    background-image: url(Assets/Knight_1/run.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: 1400px 200px;
    top: 450px;
    left: 20%;
    z-index: 2;
    image-rendering: pixelated;
}

.sprite-enemie {
    --base-scale: 1;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
    /* position: relative; */
    
}

@keyframes growShrink {
    0% { transform: scale(var(--base-scale)); }
    50% { transform: scale(calc(var(--base-scale) * 1.2)); }
    100% { transform: scale(var(--base-scale)); }
}

.grow-shrink {
    animation: growShrink 0.5s ease-in-out;
}

.sprite-enemie.death-smoke {
    gap: 0;
}


.sprite-enemie.death-smoke .health-bar-container-enemy{
visibility: hidden;
height: 0;

}

.sprite-enemie.tempTargets {
    border-top: 10px solid #ff08;
    padding-top: 0;
    border-radius: 5px;
}

.sprite-enemie img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    image-rendering: pixelated;
    z-index: 10;
}



.biggestEnemy.tempTargets {
    border-top: 10px solid #ff08;
    padding-top: 0px;
    border-radius: 5px;
}

.biggestEnemy .health-bar-container-enemy {
    width: 200px;
}

.biggestEnemy img {
    width: 300px;
    height: auto;
}

.biggerEnemy img {
    width: 200px;
    height: auto;
}

.bigEnemy img {
    width: 150px;
    height: auto;
}

#health-bar-container-player {
    width: 200px;
    height: 15px;
    background-color: #333;
    border: 2px solid #000;
    border-radius: 5px;
    position: relative;
    top: 450px;
    left: 18%;
    z-index: 4;
}

.health-bar-container-enemy {
    width: 150px;
    height: 15px;
    background-color: #333;
    border: 2px solid #000;
    border-radius: 5px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


#health-bar, .health-bar-enemy {
    height: 100%; /* The bar's height should fill the container */
    background-color: #4caf50; /* Initial green color for the bar */
    width: 100%; /* Default to full width */
    transition: width 0.3s ease; /* Smooth transition for changes */
    z-index: 6;

}

.health-bar-enemy {
    position: absolute;
    left: 0;
    z-index: -1 !important;
}

.health-bar-container-enemy span {
    color: white;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
}

#health-bar span {
    position: absolute; /* Position the text */
    top: 50%; /* Vertically center the text */
    left: 50%; /* Horizontally center the text */
    transform: translate(-50%, -50%); /* Perfect centering */
    color: white;
    font-size: 15px; /* Adjust the font size as needed */
    font-weight: lighter;
}

.death-smoke img{
    animation: deathAnimation 1s ease-in-out forwards;
}

@keyframes deathAnimation {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(4);
    }
}

.death-smoke-shrink {
    animation: shrinkSmoke 1.5s ease-in-out forwards;
}

@keyframes shrinkSmoke {
    0% {
        width: calc(100% + 20px);
        margin-left: 0px;
    }
    66.66% {
        width: calc(100% + 20px);
        margin-left: 0px;
    }
    100% {
        margin-left: -15px;
        width: 0;
    }
}

#weapons-container {
    position: fixed; /* Fix position relative to the viewport */
    bottom: 20px; /* Distance from the bottom of the screen */
    left: 50%; /* Align horizontally to the middle */
    transform: translateX(-50%); /* Offset by half its width to center it */
    display: flex;
    gap: 20px;
    z-index: 999; /* Ensure it appears above other elements */
    align-items: center;
    flex-direction: row; /* Align items horizontally */
    width: auto;
    height: auto; /* Ensure the container's height is properly adjusted */
    overflow: visible;
}

.weapon {
    cursor: pointer;
}

.weapon-image {
    width: 75px;
    height: 75px;
    object-fit: contain;
    padding: 5px;
    border: 3px solid black;
    border-radius: 5px;
    image-rendering: pixelated;
}


/* Tooltip styling */
.tooltip {
    transition: opacity 0.3s ease;
    bottom: 110%; /* Position it above the weapon */
    left: 50%; /* Align it horizontally centered */
    transform: translateX(-50%); /* Center it relative to the weapon */
    pointer-events: none;
}

#weapons-container .tooltip{
    bottom: 500%;
}

.weapon-option .tooltip {
    bottom: unset;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    right: -100px;
}


#energy-container {
    position: absolute;
    top: 400px; /* Position it above the health bar */
    left: 22.5%;  /* Adjust to your desired position */
    width: 40px; /* Set a fixed width */
    height: 40px; /* Set a fixed height */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

#energy-circle {
    width: 40px;  /* Small circle diameter */
    height: 40px; /* Small circle diameter */
    background-color: #4caf50; /* Green color for the energy */
    border-radius: 50%;  /* Make it circular */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;  /* Text color inside the circle */
    font-size: 14px;  /* Size of the text */
    font-weight: bold;  /* Make the number bold */
    border: 2px solid black;
    box-sizing: border-box;
}

#energy-text {
    position: absolute;
    top: 3px; /* Position above the energy circle */
    font-size: 25px;
    color: black; /* Color of the energy text */
    font-weight: bold;
}

#block-container {
    position: absolute;
    top: 400px;
    left: 26%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

#block-circle {
    width: 40px;  /* Small circle diameter */
    height: 40px; /* Small circle diameter */
    background-color: #1834b3; /* Green color for the energy */
    border-radius: 50%;  /* Make it circular */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;  /* Text color inside the circle */
    font-size: 14px;  /* Size of the text */
    font-weight: bold;  /* Make the number bold */
    border: 2px solid black;
    box-sizing: border-box;
}

#block-text {
    position: absolute;
    top: 3px; /* Position above the energy circle */
    font-size: 25px;
    color: white; /* Color of the energy text */
    font-weight: bold;
}

#enemies {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 57%;
    left: 40%;
    z-index: 3;
    gap: 15px;
    transition: transform 1s ease-out;
    image-rendering: pixelated;
}

#end-turn-btn {

    position: absolute;
    width: 100px;
    height: 50px;
    top: 90%;
    left: 80%;
    z-index: 1000;
}



.highlight {
    border: 2px solid #ffcc00;
    background-color: rgba(255, 204, 0, 0.3);
}

#playerGold {
    position: absolute;
    top: 20px;
    left: 90%;
    color: gold;
    z-index: 1100;
    font-size: 36px;
}

.hidden {
    display: none;
}

#weapon-deck-container .weapon.used {
    background-color: #d3d3d3;
}


#post-battle-screen {
    position: fixed;
    width: 60%;
    height: 80%;
    top: 10%;
    left: 65%;
    transform: translateX(-50%);
    background-color: burlywood;
    color: black;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    z-index: 1500;
}

.weapon-option {
    margin: 10px;
    padding: 10px;
    background-color: darkgoldenrod;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

}

#weapon-purchase-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.weapon-option img {
    border: none;
    height: 150px;
    width: 150px;
}

#upgrade-weapon-options {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 350%;
    height: 390%;
    gap: 25px;
    position: absolute;
    top: 110%;
    background-color: peru;
    border: 2px solid black;
    border-radius: 2px;
}

#headline-post-battle {
    font-size: 64px;
    margin: 20px;
}

button {
    width: 300px;
    height: 75px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);   
}

#choose-weapon-upgrade-btn {
    top: 50%;
    width: 270px;
    z-index: 900;
    justify-content: center;
    align-items: center;
    display: flex;
}

#heal-btn {
    top: 65%;
    width: 270px;
}

#close-post-battle {
    top: 80%; 
    width: 270px;
}

#upgrade-weapon-options .weapon {
    background-color: #f0e68c;
    height: 90px;
    width: 90px;
}

button:disabled {
    background-color: darkgrey !important;
}


.enemy-intent {
    display: block;
    visibility: visible;
    font-size: 24px;
    min-width: 40px;
    min-height: 40px;
    color: white;
    z-index: 100;
}

.enemy-block {
    width: 40px;  /* Small circle diameter */
    height: 40px; /* Small circle diameter */
    background-color: #1834b3; /* Green color for the energy */
    border-radius: 50%;  /* Make it circular */
    display: flex;
    left: 10%;
    align-items: center;
    color: white;  /* Text color inside the circle */
    font-size: 24px;  /* Size of the text */
    font-weight: bold;  /* Make the number bold */
    border: 2px solid black;
    box-sizing: border-box;
    justify-content: center;
    z-index: 1;
}

.enemy-buff {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#poison-status {
    position: absolute;
    bottom: -30%;
    left: 10%;
    color: white;
    padding: 5px 10px;
    font-size: 24px;
    z-index: 1000;
}

#poison-status-enemy {
    font-size: 24px;
    color: white;
}

.enemy-status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}