@font-face {
    font-family: 'Pirata_One';
    src: url(Assets/PirataOne-Regular.ttf) format('truetype');
}
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Pirata_One';
    position: relative;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

span {
    color: gold;
    font-size: 10rem;
    margin-bottom: 2vh;
}


button {
    margin-top: 4.5vh;
    padding: 0.5vw 1vw;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: gold;
    color: white;
    border: 0.15vw solid black;
    border-radius: 5px;
    font-family: 'Pirata_one';
}

button:hover {
    background-color: darkgoldenrod;
}

.sprite {
    display: block;
    width: 200px; /* Match deadPlayer */
    height: 200px; /* Keep aspect ratio */
    margin: 0 auto; /* Center horizontally */
    image-rendering: pixelated;
    background-image: url(Assets/Knight_1/Idlenew.png);
    background-repeat: no-repeat;
    background-size: 800px 200px; /* Adjust for correct scaling */
    background-position: 0 0;
    position: relative; /* Remove absolute positioning */
    transform: scale(2);
    transform-origin: center center;
    margin-top: 11vh;
    margin-bottom: 11vh;
    left: 50%;
    transform: translateX(-50%) scale(2);
}