@font-face {
    font-family: 'Pirata_One';
    src: url(Assets/PirataOne-Regular.ttf) format('truetype');
}
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Pirata_One';
    position: relative;

}
#StartscreenBackground {
    width: 95%;
    height: auto;
    display: block;
    object-fit: cover;
    margin-left: 2.5%;
    position: absolute;
    z-index: 1;
}

.textbox {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    height: 500px;
    width: 750px;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1500;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.textbox-btn {
    font-family: 'Pirata_one';
    width: 200px;
    height: 50px;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    background-color: antiquewhite;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 50px;
}

.hidden {
    display: none;
}

.sprite {
    width: 200px;
    height: 200px;
    background-image: url(Assets/Knight_1/Idlenew.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: 1400px 200px;
    top: 450px;
    left: 250px;
    z-index: 1100;
    image-rendering: pixelated;
}

#playerGold {
    position: absolute;
    top: 20px;
    left: 90%;
    color: gold;
    z-index: 1100;
    font-size: 36px;
}

.weapon-image {
    width: 75px;
    height: 75px;
    object-fit: contain;
    padding: 5px;
    border: 3px solid black;
    border-radius: 5px;
    image-rendering: pixelated;
}

.tooltip {
    top: -100%; /* Vertically center it */
    left: 50%; /* Horizontally center it */
    transform: translate(-50%, -50%); /* Ensure the tooltip is perfectly centered */
    transition: opacity 0.3s ease; /* Smooth fade-in for tooltip */
}

.orange-btn {
    width: 300px;
    height: 75px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

