@font-face {
    font-family: 'Pirata_One';
    src: url(Assets/PirataOne-Regular.ttf) format('truetype');
}
body {
    font-family: 'Pirata_One';
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;

}

#StartscreenBackground {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    /* margin-left: 2.5%; */
    position: absolute;
}

.flex-container {   
    width: 100%;
    flex-direction: column;
    z-index: 1;
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#Title {
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    text-shadow: 0.2vw 0.2vw 0.3vw rgba(255, 255, 255, 1);
}


.start-button {
    color: black;
    background-color: #1D9208;
    width: 15vw;
    height: 3vw;
    font-family: 'Pirata_One';
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    margin: 1vh 0;
    border-radius: 0.5vw;
    border: 0.2vw solid black;
}

.start-button:hover {
    color: orange;
}

.sprite {
    width: 200px;
    height: 200px;
    background-image: url(Assets/Knight_1/Idlenew.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50vh;
    left: 50vw;
    image-rendering: pixelated;
    transform-origin: top left;
}

#version {
    position: fixed;
    bottom: 2vh;
    left: 2vw;
    font-size: 1.5rem;
    color: white;
    z-index: 1000;
}

#patchnotes {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
}

#patchnotes button {
    font-family: 'Pirata_One';
    background-color: black;
    color: white;
    border: none;
    padding: 0.5vw 0.75vw;
    border-radius: 0.5vw;
    font-size: 2rem;
    z-index: 1500;
}

#encyclopedia {
    position: fixed;
    bottom: 2vh;
    right: 13vw;
}

#encyclopedia button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

#encyclopedia img {
    background: transparent;
    display: block;
    height: 5vw;
    width: 5vw;
}

#patchnotes button:hover {
    cursor: pointer;
}

#switchToMobile {
    position: fixed;
    bottom: 2vh;
    right: 47vw;
}

#switchToMobile button {
    font-family: 'Pirata_One';
    background-color: black;
    color: white;
    border: none;
    padding: 0.5vw 0.75vw;
    border-radius: 0.5vw;
    font-size: 2rem;
    z-index: 1500;
}

#deck-selection-modal {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1009;
    padding: 2vw;
    box-sizing: border-box;
}

#starter-deck-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 2vw;
    max-width: 70vw;
    margin: 0vw 2vw 2vw;
}

.starter-deck {
    background: rgba(255, 255, 255, 0.08);
    border: 0.2vw solid #e64a19;
    border-radius: 0.5vw;
    padding: 0.5vw;
    text-align: center;
    transition: all 0.2s ease;
}

.starter-deck:hover {
    background: rgba(255, 255, 255, 0.15);
    transform: scale(1.05);
    cursor: pointer;
}

.starter-deck h3 {
    margin-bottom: 1vw;
    font-size: 1.5rem;
}

.starter-deck button {
    font-family: 'Pirata_One';
    font-size: 1rem;
    background: #444;
    color: white;
    border: 0.2vw solid black;
    border-radius: 0.5vw;
    padding: 1vw 1.5vw;
    margin: 0.5vw;
    cursor: pointer;
    transition: background 0.2s;
}

.starter-deck button:hover {
    background: #666;
}

#confirm-deck {
    font-family: 'Pirata_One';
    background: #1D9208;
    color: white;
    font-size: 1.5rem;
    border: 0.2vw solid black;
    border-radius: 0.5vw;
    padding: 1vw 1.5vw;
    cursor: pointer;
    transition: background 0.2s;
}

#confirm-deck:disabled {
    background: #555;
    cursor: not-allowed;
}

#confirm-deck:hover:not(:disabled) {
    background: #45a049;
}

#deck-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.2vw solid #e64a19;
    background-color: #222;
    color: #fff;
    padding: 1vw;
    width: 50vw;
    max-height: 80vh;
    align-items: center;
    margin-top: 1vw;
    border-radius: 0.5vw;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

#deck-details h3 {
    margin: 0 0 0.5vw 0;
}

#deck-details ul {
    margin-top: 0;
    padding-left: 2vw;
}

#deck-details button {
    font-family: 'Pirata_One';
    font-size: 1.5rem;
    cursor: pointer;
    border: 0.2vw solid black;
    border-radius: 0.5vw;
}

#deck-details-weapons {
    columns: 2;
    column-gap: 10vw;
}

#deck-details p {
    margin: 0;
}

.starter-deck button {
    margin-right: 1vw;
    margin-top: 0.5vw;
}

.starter-deck.selected-deck {
    background: rgba(69, 160, 73, 0.5);
    transform: scale(1.08);
}

.locked-deck {
    opacity: 0.5;
    border-color: #555;
}

.locked-deck button {
    cursor: not-allowed;
    background: #333;
}

#deck-selection-modal #back-to-menu {
    position: absolute;
    top: 2vh;
    left: 1.5vw;  
    transform: none;
}

#delete-confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1009;
}

#delete-confirmation-modal .modal-content {
    background: antiquewhite;
    padding: 2rem;
    border-radius: 0.5vw;
    text-align: center;
    max-width: 65vw;
    font-size: 1.5rem;
    border: 0.2vw solid black;
}

#delete-confirmation-modal .modal-buttons {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

#delete-confirmation-modal .modal-buttons button {
    font-family: 'Pirata_One';
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0.2vw solid black;
    border-radius: 0.5vw;
}