@font-face {
    font-family: 'Pirata_One';
    src: url(Assets/PirataOne-Regular.ttf) format('truetype');
}
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Pirata_One';
    position: relative;

}
#StartscreenBackground {
    width: 95%;
    height: auto;
    display: block;
    object-fit: cover;
    margin-left: 2.5%;
    position: absolute;
    z-index: 1;
}

#Chest {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 150px;
    height: auto;
}

#chest-button {
    position: absolute;
    cursor: pointer;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    background: none;
    border: none;
    padding: 0;
    width: 0px;
    height: 0px;
}

#playerGold {
    position: absolute;
    top: 20px;
    left: 90%;
    color: gold;
    z-index: 1100;
    font-size: 36px;
}

.sprite {
    width: 200px;
    height: 200px;
    background-image: url(Assets/Knight_1/Idlenew.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: 1400px 200px;
    top: 450px;
    left: 650px;
    z-index: 1100;
}