@font-face {
    font-family: 'Pirata_One';
    src: url(Assets/PirataOne-Regular.ttf) format('truetype');
}
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Pirata_One';
    position: relative;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

span {
    color: red;
    font-size: 128px;
    margin-bottom: 20px;
}

#deadPlayer {
    display: block;
    width: 400px;
    height: auto;
    max-width: 600px;
    margin: 0 auto;
    image-rendering: pixelated;
}

button {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: 3px solid black;
    border-radius: 5px;
    font-family: 'Pirata_one';
}

button:hover {
    background-color: darkred;
}