@font-face {
    font-family: 'Pirata_One';
    src: url(Assets/PirataOne-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Elvish';
    src: url(Assets/tngan.ttf) format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Pirata_One';
    position: relative;
    overflow: hidden;

}
#StartscreenBackground {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    /* margin-left: 2.5%; */
    position: absolute;
    z-index: 1;
}

.textbox {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    height: 55vh;
    width: 39.5vw;
    background-color: black;
    color: white;
    padding: 1vw;
    border-radius: 10px;
    z-index: 1500;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.textbox-btn {
    font-family: 'Pirata_one';
    width: 12vw;
    height: 5.5vh;
    font-size: 1.5rem;
    padding: 0.5vw 1vw;
    border: none;
    background-color: antiquewhite;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 3vh;
}

.hidden {
    display: none;
}

.sprite {
    width: 200px;
    height: 200px;
    background-image: url(Assets/Knight_1/Idlenew.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: 1400px 200px;
    top: 450px;
    left: 13vw;
    z-index: 1100;
    image-rendering: pixelated;
}

@media (min-width: 2560px) {
    .sprite {
        top: 550px;
    }
}

#playerGold {
    position: absolute;
    top: 2vh;
    left: 90%;
    color: gold;
    z-index: 1100;
    font-size: 2.5rem;
}

#health-bar-container-player {
    width: 200px;
    height: 15px;
    background-color: #333;
    border: 0.2vw solid #000;
    border-radius: 5px;
    position: relative;
    top: 450px;
    left: 11%;
    z-index: 4;
}

@media (min-width: 2560px) {
    #health-bar-container-player {
        top: 550px;
    }
}

#health-bar span {
    position: absolute; /* Position the text */
    top: 50%; /* Vertically center the text */
    left: 50%; /* Horizontally center the text */
    transform: translate(-50%, -50%); /* Perfect centering */
    color: white;
    font-size: 1rem; /* Adjust the font size as needed */
    font-weight: lighter;
}

#health-bar {
    height: 100%; /* The bar's height should fill the container */
    background-color: #4caf50; /* Initial green color for the bar */
    width: 100%; /* Default to full width */
    transition: width 0.3s ease; /* Smooth transition for changes */
    z-index: 6;

}

.tooltip {
    font-family: 'Pirata_One';
    top: -80%; /* Vertically center it */
    left: 50%; /* Horizontally center it */
    transform: translate(-50%, -50%); /* Ensure the tooltip is perfectly centered */
    transition: opacity 0.3s ease; /* Smooth fade-in for tooltip */
}

#weapon-deck-screen[isupgrademode] .tooltip {
    top: -120%;
}

.orange-btn {
    width: 15.5vw;
    height: 8vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

body.upgrade-mode .weapon {
    cursor: pointer;
}

button#randomWeapon1 .weapon img,
button#randomWeapon2 .weapon img {
    width: 5vw;
    height: 5vw;
    image-rendering: pixelated;
    cursor: pointer;
    padding: 0.5vw;
    border: none;
}

button#randomWeapon1,
button#randomWeapon2 {
    background-color: antiquewhite;
    border-radius: 5px;
    margin-top: 5.5vh;
}

#randomWeapon1 .weapon,
#randomWeapon2 .weapon {
  position: relative;
}

#randomWeapon1 .weapon .tooltip,
#randomWeapon2 .weapon .tooltip {
    top: -150%;
}

#elvish {
    font-family: 'Elvish';
}