@font-face {
    font-family: 'Pirata_One';
    src: url(Assets/PirataOne-Regular.ttf) format('truetype');
}
body {
    font-family: 'Pirata_One';
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;

}

#StartscreenBackground {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    /* margin-left: 2.5%; */
    position: absolute;
}

.flex-container {   
    width: 100%;
    flex-direction: column;
    z-index: 1;
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#Title {
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    text-shadow: 0.2vw 0.2vw 0.3vw rgba(255, 255, 255, 1);
}


.start-button {
    color: black;
    background-color: #1D9208;
    width: 15vw;
    height: 3vw;
    font-family: 'Pirata_One';
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    margin: 1vh 0;
    border-radius: 10px;
    border: 0.2vw solid black;
}

.start-button:hover {
    color: orange;
}

.sprite {
    width: 200px;
    height: 200px;
    background-image: url(Assets/Knight_1/Idlenew.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50vh;
    left: 50vw;
    image-rendering: pixelated;
    transform-origin: top left;
}

#version {
    position: fixed;
    bottom: 2vh;
    left: 2vw;
    font-size: 1.5rem;
    color: white;
    z-index: 1000;
}

#patchnotes {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
}

#patchnotes button {
    font-family: 'Pirata_One';
    background-color: black;
    color: white;
    border: none;
    padding: 0.5vw 0.75vw;
    border-radius: 10px;
    font-size: 2rem;
    z-index: 1500;
}

#patchnotes button:hover {
    cursor: pointer;
}