@font-face {
    font-family: 'Pirata_One';
    src: url(Assets/PirataOne-Regular.ttf) format('truetype');
}
body {
    font-family: 'Pirata_One';
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;

}

#StartscreenBackground {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    /* margin-left: 2.5%; */
    position: absolute;
}

#openBook {
    width: 70%;
    height: auto;
    position: absolute;
    left: 15%;
    image-rendering: pixelated;
}

#bookContent {
    position: absolute;
    left: 15%;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 3%;
    z-index: 1;
    box-sizing: border-box;
}

#firstPage, #secondPage {
    width: 45%;
    text-align: center;
    font-size: 2rem;
}

#knightImage {
    width: 20vw;
    height: 20vw;
     image-rendering: pixelated;
}

#secondPage img {
    background: transparent;
   
    height: 8vw;
    width: 8vw;
    image-rendering: pixelated;
}

#secondPage button {
    background: transparent;
    cursor: pointer;
    border: 0.25vw solid black;
    border-radius: 0.5vw;
}

#secondPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}