@font-face {
    font-family: 'Pirata_One';
    src: url(Assets/PirataOne-Regular.ttf) format('truetype');
}
body {
    font-family: 'Pirata_One';
    position: relative;
    overflow: hidden;

}

#StartscreenBackground {
    width: 95%;
    height: auto;
    display: block;
    object-fit: cover;
    margin-left: 2.5%;
    position: absolute;
}

.flex-container {   
    width: 100%;
    flex-direction: column;
    z-index: 1;
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
}

#Title {
    font-size: 64px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
}


.start-button {
    color: black;
    background-color: #1D9208;
    width: 300px;
    height: 50px;
    font-family: 'Pirata_One';
    cursor: pointer;
    text-align: center;
    font-size: 32px;
    margin: 10px;
    margin-left: 42%;
    border-radius: 10px;
    border: 3px solid black;
}

.start-button:hover {
    color: orange;
}

.sprite {
    width: 200px;
    height: 200px;
    background-image: url(Assets/Knight_1/Idlenew.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: 1400px 200px;
    top: 450px;
    left: 350px;
    image-rendering: pixelated;
}