@font-face {
    font-family: 'Pirata_One';
    src: url(Assets/PirataOne-Regular.ttf) format('truetype');
}
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Pirata_One';
    position: relative;
    overflow: hidden;
}
#StartscreenBackground {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    /* margin-left: 2.5%; */
    position: absolute;
    z-index: 1;
}

#Map {
    width: 95%;
    height: auto;
    display: block;
    object-fit: cover;
    margin-left: 2.5%;
    position: absolute;
    z-index: 10; 
}

.navigation-container {
  position: absolute;
  width: 1400px;
  height: 510px;
  left: 13%;
  top: 20%;
  z-index: 15;
  display: flex;
  justify-content: space-around;
}

.navigation-container > div {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: transparent;
    z-index: 15;
    border: none;
}

.navigation-container .navigation img {
  width: 60px;
  height: auto;
}

.navigation-container #bossfight img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.navigation-container .navigation img:hover{
  width: 150%;
  height: auto;
}

.navigation-container #bossfight img:hover {
  width: 300%;
  height: auto;

}

.navigation-container > div:nth-child(2n+1) {
  justify-content: space-evenly;
}

.navigation :hover {
    cursor: pointer;
}

.next {
    height: 80px;
    width: 80px;
    background-color: green;
    border-radius: 50%;
}

#playerGold {
  position: absolute;
  top: 20px;
  left: 90%;
  color: gold;
  z-index: 1100;
  font-size: 36px;
}

.weapon-image {
  width: 75px;
  height: 75px;
  object-fit: contain;
  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
  image-rendering: pixelated;
}

.tooltip {
  transition: opacity 0.3s ease;
  bottom: 110%; /* Position it above the weapon */
  left: 50%; /* Align it horizontally centered */
  transform: translateX(-50%); /* Center it relative to the weapon */

}

#reset-save-btn {
  position: absolute;
  top: 50px;
  z-index: 9999;
}
