@font-face {
    font-family: 'Pirata_One';
    src: url(Assets/PirataOne-Regular.ttf) format('truetype');
}

html {
    font-size: 1vw;
}

body {
    font-family: 'Pirata_One';
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

body:not(.weapon) #weaponsContainer,
body:not(.weaponInfo) #weaponInfoPage, 
body:not(.enemy) #enemiesContainer, 
body:not(.enemyInfo) #enemyInfoPage, 
#weaponsPagination, 
body.overview #backToSummary, 
body:not(.overview) #firstPage, 
body:not(.overview) #secondPage {
    display: none;
}

.enemy #weaponsPagination, 
.weapon #weaponsPagination, 
.relic #weaponsPagination
  {
    display: flex;
}



#StartscreenBackground {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    /* margin-left: 2.5%; */
    position: absolute;
}

#openBook {
    width: 70%;
    height: auto;
    position: absolute;
    left: 15%;
    image-rendering: pixelated;
}

#bookContent {
    position: absolute;
    left: 16%;
    width: 65%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-left: 4%;
    z-index: 1;
    box-sizing: border-box;
}

#firstPage, #secondPage {
    width: 45%;
    text-align: center;
    font-size: 2rem;
}

#knightImage {
    width: 20vw;
    height: 20vw;
     image-rendering: pixelated;
}

#secondPage img {
    background: transparent;
   
    height: 8vw;
    width: 8vw;
    image-rendering: pixelated;
}

#secondPage button {
    background: transparent;
    cursor: pointer;
    border: 0.25vw solid black;
    border-radius: 0.5vw;
}

#secondPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.column {
    width: 48%;
}

#weaponsPage {
    display: flex;
    justify-content: space-between;
}

.weaponItem {
    text-align: center;
   
}

.weaponItem img {
    width: 9vw;
    height: 9vw;
    object-fit: contain;
    image-rendering: pixelated;
}

#enemiesContainer,
#weaponsContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 2%;
}

#enemiesPage,
#weaponsPage {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 6vw;
    margin-left: -1vw;
}

.sidePage {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.weaponGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 1vw;
    flex-grow: 1;
}

.weaponItem {
    text-align: center;
    cursor: pointer;
}

.weaponItem img {
    width: 6vw;
    height: 6vw;
    object-fit: contain;
    image-rendering: pixelated;
}

#weaponsPagination, #enemiesPagination {
    display: none;
    position: fixed;
    top: 50%;
    right: 5%;
    flex-direction: column;
    gap: 1vw;
    transform: translateY(-50%);
}

#backToSummary {
    position: absolute;
    font-size: 1.5rem;
    top: 15vh;
    left: 2%;
}

#nextWeaponPage, #prevWeaponPage, #nextEnemyPage, #prevEnemyPage {
    width: 8vw;
    font-size: 1.5rem;
}

#weaponInfoPage {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#weaponInfoLeft, #weaponInfoRight {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weaponInfoRight {
    height: 37vw;
    justify-content: flex-start;
}

#weaponInfoLeft #weaponImage {
    width: 25vw;
    height: 25vw;
    image-rendering: pixelated;
    margin-top: 5vh;
}

#weaponLevelButtons {
    display: flex;
    gap: 0.5vw;
    margin-top: auto;
}

#weaponLevelButtons button {
    font-size: 1.25rem;
}

#weaponInfoTooltip {
    width: 23vw;
    text-align: left;
    font-size: 1.5rem;
}

#backToWeapons {
    margin-top: 0.5vw;
    font-size: 1.25rem;
}

#weaponImage .weapon-image {
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
}

.backToMenu {
    position: absolute;
    font-size: 1.5rem;
    top: 2vh;
    left: 2%;
}

.orange-btn {
    font-family: 'Pirata_One';
    
    color: black;
    border: 0.2vw solid black;
    border-radius: 0.5vw;
    cursor: pointer;
    background-color: #ff5722;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0.5vw;
}

p {
    font-size: 1.25rem;
}

.enemy-status-container,
.health-bar-container-enemy,
.enemy-intent {
    display: none !important;
}

.enemyGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    margin-bottom: 2vw;
}

.enemyItem {
    text-align: center;
    cursor: pointer;
}

.encyclopedia-enemy-icon {
    width: 6vw;
    height: 6vw;
    object-fit: contain;
    image-rendering: pixelated;
    display: block;
    margin: 0 auto;
}

