@font-face {
    font-family: 'Pirata_One';
    src: url(Assets/PirataOne-Regular.ttf) format('truetype');
}
body {
    font-family: 'Pirata_One';
    position: relative;
    overflow: hidden;

}
#StartscreenBackground {
    width: 95%;
    height: auto;
    object-fit: cover;
    margin-left: 2.5%;
    position: absolute;
    z-index: 0;
}

.flex-container {   
    width: 100%;
    flex-direction: column;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    z-index: 5;
}

#Title {
    font-size: 64px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
}

h2 {
    z-index: 5;
    font-size: 48px;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
}

.text-container {
    font-size: 32px;
    z-index: 5;
    position: relative;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
    column-count: 2;
    margin-left: 20%;
}

.scrollable {
    max-height: 70vh;
    overflow: auto;
}