@font-face {
    font-family: 'Pirata_One';
    src: url(Assets/PirataOne-Regular.ttf) format('truetype');
}
body {
    font-family: 'Pirata_One';
    position: relative;
    overflow: hidden;

}
#StartscreenBackground {
    width: 95%;
    height: auto;
    object-fit: cover;
    margin-left: 2.5%;
    position: absolute;
    z-index: 0;
}

